<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="GoApplicationRunConfiguration" factoryName="Go Application">
    <module name="karlchencloud" />
    <working_directory value="$PROJECT_DIR$" />
    <parameters value="--no-http-server" />
    <envs>
      <env name="GRPC_GO_LOG_VERBOSITY_LEVEL" value="2" />
      <env name="GRPC_GO_LOG_SEVERITY_LEVEL" value="info" />
      <env name="GODEBUG" value="http2debug=1" />
    </envs>
    <kind value="PACKAGE" />
    <filePath value="$PROJECT_DIR$/cmd/server/main.go" />
    <package value="github.com/supermihi/karlchencloud/cmd/server" />
    <directory value="$PROJECT_DIR$/" />
    <method v="2" />
  </configuration>
</component>